<html>
  <head>
    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '[% public_key %]'
        });
      };
    </script>
  </head>
  <body>
<div id="page" class="col-md-12 gradient" style="display=inline-block">
    <div class="page-header">
        <h1>Welcome On Mana Knowledge base</h1>
        <h2>Registration</h2>
    </div>
 
    <div id="content">
        <form action="[% domain %]/confirmaccount" method="POST">
        <h3>Following information will be registered: </h3>
        <span class="infotitle">Name:</span> [% datas.name %]<br>
        <input hidden name="name" value="[% datas.name %]">
        <span class="infotitle">E-Mail:</span> [% datas.email %]<br>
        <input hidden name="email" value="[% datas.email %]">
        <span class="infotitle">Security token:</span> [% id %]<br>
        <input hidden name="id" value="[% id %]">
        <br>
        <br>
        <div id="html_element"></div>
        <br>
        <input type="submit" value="Submit">
        </form>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
</div>
  </body>
</html>
