[% IF resource_path %]
    [% INCLUDE $resource_path %]
[% ELSE %]
    <div class="jumbotron">
        <h1>Welcome to Mana!</h1>
        <p>Mana is a knowledge database dedicated to Koha users.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <!--<h3> Please select a Resource to explore </h3>
    <ul>
        <li><a href='/admin/subscription'> Subscriptions </a></li>
        <li><a href='/admin/report'> Reports </a></li>
        <li><a href='/admin/user'> Users </a></li>
        <li><a href='/admin/librarian'> Security Tokens (librarian) </a></li>
    </ul>-->
[% END %]
