<div id="sidebar" class="col-md-2 well">
    <ul class="nav nav-pills nav-stacked">
        [% UNLESS ( resourcename ) %]
            <li role="presentation" class="active"><a href="/">Home</a></li>
        [% ELSE %]
            <li role="presentation"><a href="/">Home</a></li>
        [% END %]

        [% IF ( resourcename == 'subscription' ) %]
            <li role="presentation" class="active"><a href="/admin/subscription">Subscriptions</a></li>
        [% ELSE %]
            <li role="presentation"><a href="/admin/subscription">Subscriptions</a></li>
        [% END %]

        [% IF ( resourcename == 'report' ) %]
            <li role="presentation" class="active"><a href="/admin/report">Reports</a></li>
        [% ELSE %]
            <li role="presentation"><a href="/admin/report">Reports</a></li>
        [% END %]

        [% IF ( resourcename == 'review' ) %]
            <li role="presentation" class="active"><a href="/admin/review">Reviews</a></li>
        [% ELSE %]
            <li role="presentation"><a href="/admin/review">Reviews</a></li>
        [% END %]

        [% IF ( resourcename == 'user' ) %]
            <li role="presentation" class="active"><a href="/admin/user">Users</a></li>
        [% ELSE %]
            <li role="presentation"><a href="/admin/user">Users</a></li>
        [% END %]

        [% IF ( resourcename == 'librarian' ) %]
            <li role="presentation" class="active"><a href="/admin/librarian">Security Tokens (librarian)</a></li>
        [% ELSE %]
            <li role="presentation"><a href="/admin/librarian">Security Tokens (librarian)</a></li>
        [% END %]
    </ul>

    <li>
       <h4>Personal informations</h4>
    </li>
    <ul>
        <li>Logged in user: [% session.user %]</li>
    </ul>
</div>
