<script type="text/javascript">
    $(document).ready(function() {
        $('#resource_data_table').DataTable();
    } );
</script>

<div id="resource_display_div">
<h1> Librarian table (security tokens) </h1>
<input hidden id=resourcetype value="librarian">
    <table id="resource_data_table" class="display" width="90%" cellspacing="0">
       <thead>
           <tr>
                <th> id (token) </th>
                <th> Name </th>
                <th> email </th>
                <th> Creation Date</th>
                <th> Activation Date</th>
                <th> Nb of contributions </th>
                <th> Action</th>
           </tr>
       </thead>
       <tfoot>
           <tr>
               <th> id (token) </th>
               <th> Name </th>
               <th> email </th>
               <th> Creation Date</th>
               <th> Activation Date</th>
               <th> Nb of contributions </th>
               <th> Action</th>
           </tr>
       </tfoot>

       <tbody>
         [% FOREACH resource IN resources %]
           <tr id="row[% resource.id %]">
               <td class=id>[% resource.id %] </td>
               <td class=LastName> [% resource.name %] </td>
               <td class=email> [% resource.email %] </td>
               <td class=creationdate> [% resource.creationdate %] </td>
               <td class=activationdate> [% resource.activationdate %] </td>
               <td class=nbcontributions> [% resource.nbaccess %] </td>
               <td> <button class=delete> Delete </button> <br>
                    <button class=show> Show More </button> </td>
            </tr>
         [% END %]
         [% INCLUDE 'Resource/details-modal.tt' %]
       </tbody>
     </table>
</div>
