<h1>New user</h1>

<form data-toggle="validator" role="form" method=post>
    <div class="form-group">
	<label for="login" class="control-label">Login</label>
	<input type="text" class="form-control" id="login" name="login" placeholder="Your login" required>
    </div>

    <div class="form-group">
	<label for="email" class="control-label">Email</label>
	<input type="email" class="form-control" id="email" name="email" placeholder="user@domai.com" data-error="Bruh, that email address is invalid" required>
	<div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
	<label for="password" class="control-label">Password</label>
	<div class="form-inline row">
	    <div class="form-group col-sm-6">
		<input type="password" data-minlength="6" class="form-control" id="password" name="password" placeholder="Password" required>
		<div class="help-block">Minimum of 6 characters</div>
	    </div>
	    <div class="form-group col-sm-6">
		<input type="password" class="form-control" id="passwordConfirm" data-match="#password" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
		<div class="help-block with-errors"></div>
	    </div>
	</div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
